.mwc-external-checkout-buttons {
	display: none;
	padding: 10px 0;
	clear: both;
}

/* ensure single product add-to-cart buttons match the AP button width */
.mwc-external-checkout-buttons.available ~ button.single_add_to_cart_button {
	width: 100%;
}

/* tweak the padding for the Cart page */
.wc-proceed-to-checkout .mwc-external-checkout-buttons {
	padding-top: 0;
}

.mwc-external-checkout-buttons-divider {
	display: none;
	margin: 0 auto 15px;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}

#mwc-payments-apple-pay-hosted iframe {
	display: none;
}
